body,#g2{
    /*background-color: #27ae60;     */
    font-family: Calibri;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}

p:hover{
    color: #bf4f4f;
}

#guigzom>p{
    font-size: 35px;
    margin-left: 3px;
    display: inline;
    font-weight: bold;
}

#guigzom{
    margin-bottom: -20px;
    text-align: center;
}

#g1{
    color: #bf4f4f;
}

#g2:hover{
    color: #bf4f4f;
}


#f1{
    text-align: center;
    font-weight: bold;
}

#soleplug{
    margin-top: 10px;
}